body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}
h1, h2, h3, p{
    font-weight: normal;
}
body{
    color: white;
    background:#191919;
    font-family: 'DM Sans';
}
.bold{
    font-weight: bold;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}
.logo{
    margin-left: 3%;
}
.header .text_logo{
    color: white;
    margin-left: 3%;
}
.header .nav{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.header .menu{
    font-size: 14px;
    color: white;
    text-decoration: none;
    width: auto;
}
.header .menu_home{
    color: #118DA8;
}
.man{
    display: flex;
}
.man .img{
    width: 50%;
    max-height: 873px;
    display: flex;
    justify-content: center;
}
.man .text{
   width: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 70px;
   flex-direction: column;
   

}
.text p{
    width: 526px;
}
.next{
    font-size: 75px;
    border-bottom: 1px;
    text-decoration: underline #118DA8;
}
.level{
    font-size: 80px;
    font-weight: bold;
}
.send{
    font-size: 15px;
    margin-top: 30px;
}
.icon{
    width: 57%;
}
.latest{
    display: flex;
    justify-content: space-between;
    margin-left: 7%;
    margin-right: 7%;
    align-items: center;
    height: 160px
}
.latest h1{
    font-size: 64px;
    font-weight: normal;
}
.button{
    background: #118DA8;
    border-radius: 8px;
    font-size: 17px;
    color: white;
    width: 178px;
    height: 51px;
}
.episodes{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.episode3{
    background: black;
    width: 90%;
    border-radius: 32px;
    display: flex;
    align-items: center;

}
.episode3 img{
    margin: 40px;
}
.text{
    display: flex;
    flex-direction: column;
    
}
p.top{
    background: #191919;
    max-width: 136px;
    font-size: 18px;
    text-align: center;
    border-radius: 12px;
    
}
p.epis{
    color: #118DA8;
    font-size: 17px;
    margin: 60px 0px 28px 0px
}
h1.h1{
    font-size: 64px;
    
}
h3.h3{
    font-size: 22px;
    color: grey;
    margin: 28px 0 18px 0;
}
.episode2{
    background: black;
    width: 90%;
    border-radius: 32px;
    display: flex;
    align-items: center;
    margin: 60px 0 60px 0;

}
.episode2 img{
    margin: 40px;
}
.episode1{
    background: black;
    width: 90%;
    border-radius: 32px;
    display: flex;
    align-items: center;
    margin: 60px 0 60px 0;

}
.episode1 img{
    margin: 40px;
}
.jacob{
    display: flex;
    justify-content: space-around;
    margin-top: 260px;
}
.button2{
    background:  #118DA8;
    border-radius: 100%;
    font-size: 100px;
    height: auto;
    
}
.jacob p{
    color:#118DA8;
    margin: 20px 0 25px 0;
}
.jacob h1{
    font-size: 65px;
    
}
.jacob h2{
    font-size: 22px;
    color: gray;
    margin: 40px 0 40px 0;
    width: 50%;
}
.sub{
    width: 90%;
    background: black;
    border-radius: 32px;
    display: flex;
    justify-content: space-around;
    align-items:center ;
    margin-top: 200px;

}
.sub_input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 387px;
}
.input{
    background: #191919;
    width: 522px;
    height: 82px;
    font-size: 25px;
    margin: 15px 0 15px 0;
    outline: none;
    border: none;

    
}
.sub_text h1{
    font-size: 72px;
}
.prereview{
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.review{
    display: grid;
    grid-template: repeat(2, 321px) / repeat(3, 423px);
    grid-column-gap: 20px;
    grid-row-gap:20px ;
    
}

.review1{
    background: black;
    border-radius: 32px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.review1 p{
    margin-left: 50px;
    color: gold;
    font-size: 40px;
}
.review1 h1{
    margin-left: 50px;
    font-size: 32px;
}
.review1 h4{
    margin-left: 50px;
    font-size: 24px;
    color: grey;
}
.footer{
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
}
.list{
    display: flex;

}
ul{
    font-size: 17px;
    list-style-type: none;
}
@media (max-width: 768px ) {
    .nav{
        width: 40%;
    }
    .icon{
        width: 150%;
    }
    .latest h1{
        font-size: 25px;
    }
    .episode3{
        display: flex;
        flex-direction: column;
    }
    .episodes .text{
        width: 80%;
        font-size: 25px;
    }
    .episodes .text h1{
        font-size: 40px;
    }
    .episodes .text h3{
        font-size: 20px;
    }
    .episodes .button{
        margin-bottom: 30px;
    }
    
    .episode2{
        display: flex;
        flex-direction: column;
    }
    .episode1{
        display: flex;
        flex-direction: column;
    }
    .jacob{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        width: 90%;
    }
    .jacob .jacob_text{
        display: flex;
        align-items: center;
        flex-direction: column;

    }
    .jacob .button2{
        width: 300px;
        border-radius: 20px;
        text-align: center;
    }
    .jacob h1{
        font-size: 40px;
    }
    .jacob h2{
        width: 80%;
    }
    .jacob_img{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .jacob_img img{
        width: 90%;
    }
    .sub{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .sub_text{
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sub_text h1{
        font-size: 35px;
    }
    .sub_input input{
        width: 95%;
    }
    .sub_input{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .review{
        grid-template: repeat(6, 220px) / repeat(1, 423px); ;
    }
    .review h1{
        font-size: 30px;
    }
    .man{
        display: flex;
        justify-content: center;
        height: 800px;
    }

    .man .text{
        background: url(/images/man.png);
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 40px;
        width: 95%;
    
    }
    .text p{
        width: 100%;
    }
    .header{
        width: 90%;
    }
    .header .nav{
        width: 50%;
    }
    #image {display: none;}

}
